<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h2>Error al procesar la solicitud.</h2>
        <h3>ID de registro ya existe</h3>
        <input type="button" class="btn btn-info" value="Reintentar" onclick="location.href='@Url.Action("Create","Bitacora")'" />
        <input type="button" class="btn btn-info" value="Volver a lista de bitácoras" onclick="location.href='@Url.Action("Index","Bitacora")'" />
    </hgroup>
</body>
</html>
