<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>        
        <h2>Error al procesar la solicitud.</h2>
        <h3>No se puede eliminar un registro con dependencias</h3>
        <input type="button" class="btn btn-info" value="Volver a alumnos" onclick="location.href='@Url.Action("Index","Alumno")'" />
    </hgroup>
</body>
</html>
