@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido.</h1>
    <h2>Sistema de Apoyo a la Labor Docente</h2>

    <img src="https://www.graphicsprings.com/filestorage/stencils/b1dc0c6af091e78d657448411b1214af.png?width=500&height=500" />

</div>